In [1]:
import sqlite3
import pandas as pd

In [2]:
# Create the connection
cnx = sqlite3.connect(r'rev_db3.db')


curs = cnx.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('data',)]

In [3]:
# create the dataframe from a query
df = pd.read_sql_query("SELECT * FROM data", cnx)
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11.000000
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18.000000
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03.000000
3,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31.000000
4,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,2,0,0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16.000000

In [4]:
curs.execute("SELECT COUNT(*) FROM data").fetchall()

[(1598960,)]

In [5]:
count_useful = df['useful'].value_counts()
print(count_useful)

useful
0      831436
1      359314
2      171852
3       89036
4       48655
        ...
169         1
164         1
105         1
186         1
124         1
Name: count, Length: 156, dtype: int64

In [6]:
count_useful_pct = df['useful'].value_counts(normalize=True) * 100
print(count_useful_pct)

useful
0      51.998549
1      22.471732
2      10.747736
3       5.568369
4       3.042915
         ...
169     0.000063
164     0.000063
105     0.000063
186     0.000063
124     0.000063
Name: proportion, Length: 156, dtype: float64

In [7]:
review_count = df.groupby('user_id')['review_id'].count()
summary_stats = review_count.agg(['min', 'mean', 'max'])

print(review_count)
print(summary_stats)

user_id
---r61b7EpVPkb4UVme5tA    5
--034gGozmK4y5txuPsdAA    1
--0kuuLmuYBe3Rmu0Iycww    2
--13zE3NaRvLSrmfTVnFJA    1
--1oopX4BmrQEB_cW2dFVA    1
                         ..
zzwTBixpqjeAD_IkMlby0g    1
zzwYLnmIvj8C7wJmRjtkRA    2
zzx7J3zheFF3zf5YYfDAMg    1
zzxCh58BAynQseL1rUlJqg    1
zzzMBVS73g3ZJ7qL8JyhiA    1
Name: review_id, Length: 430688, dtype: int64
min        1.000000
mean       3.712572
max     2822.000000
Name: review_id, dtype: float64

In [8]:
review_count = df.groupby('business_id')['review_id'].count()
summary_stats = review_count.agg(['min', 'mean', 'max'])

print(review_count)
print(summary_stats)

business_id
--30_8IhuyMHbSOcNWd6DQ     9
--OS_I7dnABrXvRCCuWOGQ     5
--ZVrH2X2QXBFdCilbirsw    36
--ZWv8kGlM2YL58uKhGJDg    12
--epgcb7xHGuJ-4PUeSLAw    38
                          ..
zzbpcMZXHoZxUr9JZdH6wg    23
zzjCxn89a7RQo8keIOO_Ag     5
zzjFdJwXuxBOGe9JeY_EMw    48
zztOG2cKm87I6Iw_tleZsQ     6
zzyx5x0Z7xXWWvWnZFuxlQ     8
Name: review_id, Length: 34039, dtype: int64
min        5.000000
mean      46.974353
max     5778.000000
Name: review_id, dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1598960 entries, 0 to 1598959
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1598960 non-null  object
 1   user_id      1598960 non-null  object
 2   business_id  1598960 non-null  object
 3   stars        1598960 non-null  int64
 4   useful       1598960 non-null  int64
 5   funny        1598960 non-null  int64
 6   cool         1598960 non-null  int64
 7   text         1598960 non-null  object
 8   date         1598960 non-null  object
dtypes: int64(4), object(5)
memory usage: 109.8+ MB

In [10]:
df.describe()

              stars        useful         funny          cool
count  1.598960e+06  1.598960e+06  1.598960e+06  1.598960e+06
mean   3.698826e+00  1.295474e+00  3.709968e-01  4.945984e-01
std    1.463209e+00  3.822787e+00  1.565185e+00  1.923601e+00
min    1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  2.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  1.182000e+03  2.840000e+02  1.920000e+02

In [11]:
df.duplicated().sum()

0

In [12]:
df.isna().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [13]:
df.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(min_df=1)
text = df["text"]
text

0          If you decide to eat here, just be aware it is...
1          I've taken a lot of spin classes over the year...
2          Wow!  Yummy, different,  delicious.   Our favo...
3          I am a long term frequent customer of this est...
4          Amazingly amazing wings and homemade bleu chee...
                                 ...
1598955    Philly has become a dangerous place with the m...
1598956    ice cream! ice cream sodas, sundaes!! \n\nwant...
1598957    This is a good pizza option - they deliver thr...
1598958    It is very rare for a restaurant to be this go...
1598959    This Home Depot won me over when I needed to g...
Name: text, Length: 1598960, dtype: object

In [15]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
custom_stopwords = {'don', "don't", 'ain', "aren't", 'couldn', "couldn't",
                   'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
                   'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
                   'mightn', "mightn't", 'mustn', "musn't", 'needn', "needn't", 
                   'shan', "shan't", 'no', 'nor', 'not', 'shouldn', "shouldn't",
                   'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"}

corpus = []
ps = PorterStemmer()
stop_words = set(stopwords.words("english")) - custom_stopwords

for i in range(100):
    review = re.sub('[^a-zA-Z]', ' ',text[i])
    review = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if word not in stop_words]
    review = " ".join(review)
    corpus.append(review)

In [16]:
text = text.head(10000)
len(text)

10000

In [17]:
# call `fit` to build the vocabulary
vectorizer.fit(text)

# call `transform` to convert text to a bag of words
x = vectorizer.transform(text)

# CountVectorizer uses a sparse array to save memory, but it's easier in this assignment to 
# convert back to a "normal" numpy array
x = x.toarray()

print("")
print("Transformed text vector is \n{}".format(x))

Transformed text vector is
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [18]:
# `get_feature_names` tracks which word is associated with each column of the transformed x
print("")
print("Words for each feature:")
print(vectorizer.get_feature_names_out())

Words for each feature:
['00' '000' '007' ... 'été' '小籠包' '芥蘭']

In [19]:
y=df["stars"].head(10000)
y

0       3
1       5
2       5
3       1
4       5
       ..
9995    4
9996    5
9997    4
9998    2
9999    5
Name: stars, Length: 10000, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
%time nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_pred))

CPU times: user 5.36 s, sys: 2.78 ms, total: 5.36 s
Wall time: 5.37 s
0.5615

In [21]:
y_train_pred = nb.predict(X_train)
print(accuracy_score(y_train, y_train_pred))

0.770125

In [22]:
review_text = ["this turkey is provoking my immune system"]
review_vctrzd = vectorizer.transform(review_text)
print(type(review_vctrzd))
#print(review_vctrzd)
#review_stars = nb.predict(review_vctrzd)
#review_stars

<class 'scipy.sparse._csr.csr_matrix'>

In [23]:
import joblib
joblib.dump(nb, "yelpmodel.pkl")

['yelpmodel.pkl']

In [24]:
joblib.dump(vectorizer, "yelp_vectorizer.pkl")

['yelp_vectorizer.pkl']

In [25]:
text = "Philly has become a dangerous place with"
text = [text]
#print(text)
vectorizer.transform(text)

<1x24116 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [26]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
rf = clf.fit(X_train, y_train)

In [27]:
rf_y_pred = rf.predict(X_test)
from sklearn.metrics import f1_score
f1_score(rf_y_pred, y_test, average=None)

array([0.4939759 , 0.01980198, 0.03524229, 0.32026144, 0.67040069])

In [28]:
# Evaluate model performance
accuracy = accuracy_score(y_test, rf_y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5065

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Create and train SVC model
svc_classifier = SVC(kernel="rbf")
svc_classifier.fit(X_train, y_train)

# Make predictions
svc_predictions = svc_classifier.predict(X_test)

# Evaluate model performance
accuracy = accuracy_score(y_test, svc_predictions)
print("Accuracy:", accuracy)